:root {
    --main-ui-color: #ff8800;
    --border-main-ui-color: #eb7d00;
    --secondary-ui-color: #edd3c2;
    --border-secondary-ui-color: #ecc0a4;
    --secondary-text-color: #c67c27;
}

.header {
    margin-top: 10px;
}

.selection-visiteur{
    margin: 20px;
}

.selection-visiteur form, .form-comptable{
    display: inline;
    margin: 15px;
}

#lblVisiteurs, #lblMois, #lstVisiteurs, #lstMois{
    display: inline;
    vertical-align: middle;
    padding: 5px;
}

#lstVisiteurs, #lstMois{
    max-width: 200px;
}

#ok {
    margin-left: 20px;
}

